*.kicad_prl
*.kicad_sch-bak
*.rpt
*.xls
*.csv
*.d356
*.lck
*.gbrjob
*.xml
*.kicad_sch
*.kicad_pcb
*.kicad_pro
stackup.png
/board_v1_NOT_WORKING
/archived
/fp-info-cache
/board_v1_NOT_WORKING/daemon_fbt_v1/daemon_fbt_v1-backups/
/board_v2/daemon_fbt_v2/daemon_fbt_v2-backups
/board_v2/gerbers
/board_v2/fbt_gerbers.zip
/board_v2/daemon_fbt_v2/fp-info-cache
/firmware/daemon_fbt_v1/build
/firmware/daemon_fbt_v1/build_daemon_fbt_v1
/firmware/daemon_fbt_v1/build_daemon_fbt_v2
/firmware/daemon_fbt_v1/src/temp.txt
/charging_dock_v1/daemon_charging_dock_v1/daemon_charging_dock_v1-backups
/charging_dock_v1/daemon_charging_dock_v1/fp-info-cache
/charging_dock_v1/dock_gerber_part_1.zip
/charging_dock_v1/dock_gerbers_part_2.zip
/board_v2
/programmer_v1
/charging_dock_v1


