*.kicad_prl
*.kicad_sch-bak
*.rpt
*.xls
*.csv
*.d356
*.lck
*.gbrjob
/fp-info-cache
/board_v1_NOT_WORKING/daemon_fbt_v1/daemon_fbt_v1-backups/
/board_v2/daemon_fbt_v2/daemon_fbt_v2-backups
/firmware/daemon_fbt_v1/build
/firmware/daemon_fbt_v1/build_daemon_fbt_v1
/charging_dock_v1/daemon_charging_dock_v1/daemon_charging_dock_v1-backups
